* {
	box-sizing: border-box;
}

html {
    padding-top:50px;
}
body {
  border-radius: 11px;
  padding: 35px;
  width: 60%;
  height: 420px;
  margin: 0 auto;
  background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('https://cdn.pixabay.com/photo/2016/03/23/12/53/clock-1274699_1280.jpg');
}

#clock {
    height:120px;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  color: rgb(123, 220, 119);
}

h1 {
	text-align:center;
    font-size: 25px;
}

#alarm-container {
	text-align:center;
    font-family: Verdana;
    font-size: 0.6em;
    padding: 0.7em;
  color: rgb(255, 230, 117);
}

label {
	display:inline-block;
}

.timeofday {
    background-color: #eee;
}

.bigger {
    font-weight:bold;
    font-size: 18px;
}

#sounds {
    text-align: center;
    padding-top: 20px;
}

#setButton {
    float:left;
    background-color:rgb(31, 148, 56);
    margin-top:63px;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
}
#setButton:hover{
    background-color:rgb(133, 209, 121); 
}
#clearButton {
    float:right;
    background-color:rgb(225, 21, 21);
    margin-top:64px;
    padding: 8px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
}
#clearButton:hover{
    background-color:rgb(191, 76, 76); 
}
#alarmhrs{
    background-color:#b7b7cb;
    height: 27px;
    width: 53px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    outline: none;
    border: none;
}
#alarmhrs:hover{
    background-color: rgb(156, 151, 161);
}
#alarmmins{
    background-color:#b7b7cb;
    height: 27px;
    width: 53px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    outline: none;
    border: none;
}
#alarmmins:hover{
    background-color: rgb(156, 151, 161); 
}
#alarmsecs{
    background-color:#b7b7cb;
    height: 27px;
    width: 53px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    outline: none;
    border: none;
}
#alarmsecs:hover{
    background-color: rgb(156, 151, 161); 
}
#ampm{
    background-color:#b7b7cb;
    height: 27px;
    width: 53px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    outline: none;
    border: none;
}
#ampm:hover{
    background-color: rgb(156, 151, 161);
}
.image img{
    width: 20%;
    justify-content: center;
    margin-left: 40%;
    margin-top: -6%;
}